@charset "utf-8";
/* CSS Document */
@font-face {
	font-family: "Overseer";
	src:url(Overseer.ttf);
} h1 {
	font-family:"Overseer", sans-serif;
	text-align:center;
	font-size:36px;
} p {
	font-size:20px;
	font-family:Chicago, sans-serif;
	text-align:center;
} button {
	font-family:"Overseer", Chicago, sans-serif;
	text-align:center;
	font-size:24px;
} html {
	background:url(BGimage.png);
	background-attachment:scroll;
	padding-left:100px;
	padding-right:100px;
} ul {
	font-family:"Overseer", Chicago, sans-serif;
	text-align:center;
	font-size:24px;
} h2 { 
	font-family:Helvetica, sans-serif;
	text-align:center;
	font-size:32px;
} table, th, td {
	border: 1px solid black;
	font-size:20px;
	font-family:Chicago, sans-serif;
	text-align:center;
} .center {
	margin-left: auto;
	margin-right: auto;
} h3 {
	text-align:center;
	font-family: sans-serif;
}
