@charset "utf-8";
/* CSS Document */

h1 {
	font-family:Overseer, Chicago, sans-serif;
	text-align:center;
} p {
	font-size:24px;
	font-family:Overseer, Chicago, sans-serif;
	text-align:center;
} button {
	font-family:Overseer, Chicago, sans-serif;
	text-align:center;
	font-size:24px;
} body {
	background-image:url(234962962-source.gif);
}