@charset "utf-8";
/* CSS Document */
@font-face {
	font-family: "Overseer";
	src:url(Overseer.ttf);
} h1 {
	font-family:"Overseer", sans-serif;
	text-align:center;
	font-size:36px;
} p {
	font-size:24px;
	font-family:"Overseer", Chicago, sans-serif;
	text-align:center;
} button {
	font-family:"Overseer", Chicago, sans-serif;
	text-align:center;
	font-size:24px;
} body {
	background:url(BGimage.png);
	background-attachment:fixed;
	padding-left:100px;
	padding-right:100px;
} ul {
	font-family:"Overseer", Chicago, sans-serif;
	text-align:center;
	font-size:24px;
} h2 { 
	font-family:"Overseer", Chicago, sans-serif;
	text-align:center;
	font-size:32px;
}