@charset "utf-8";
/* CSS Document */

h1 {
	font-family:Overseer, Chicago, sans-serif;
	text-align:center;
} p {
	font-size:24px;
	font-family:Overseer, Chicago, sans-serif;
	text-align:center;
} button {
	font-family:Overseer, Chicago, sans-serif;
	text-align:center;
	font-size:24px;
} body {
	background-image:url(2020-01-17_11.46.40.png)
} ul {
	font-family:Overseer, Chicago, sans-serif;
	text-align:center;
	font-size:24px;
} li { 
	font-family:Overseer, Chicago, sans-serif;
	text-align:center;
	font-size:24px;
} .About {
	padding-left:200px;
	padding-right:200px;
}