IMG_2854.mp4 filter=lfs diff=lfs merge=lfs -text
IMG_E2855.mp4 filter=lfs diff=lfs merge=lfs -text
IMG_1987.mp4 filter=lfs diff=lfs merge=lfs -text
IMG_2184.mp4 filter=lfs diff=lfs merge=lfs -text
*.mov filter=lfs diff=lfs merge=lfs -text
